<header class="main-header">
    <div class="main-header-top-bar">
        <a href="/"><img src="/img/logo-mercado-liebre.svg" class="logoliebre" /></a>
        <!-- BARRA DE BUSQUEDAD -->
        <div class="search">
            <input type="search" id="search-input" name="search" placeholder="Buscar productos, marcas y más" />
            <button type="submit" aria-label="Buscar" i>
                <i class="fas fa-search"></i>
            </button>
        </div>

        <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de credito
        </h2>
    </div>

    <a href="#" class="burger-menu ">
        <i class="fas fa-bars"></i>
    </a>
    <nav class="main-navbar">
        <ul class="right-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="left-navbar">
            <li>
                <a href="/registrate">Crea tu cuenta
                    <i class="fa-solid fa-address-card"></i></a>
            </li>
            <li><a href="/ingresa">Ingresá
                    <i class="fa-solid fa-right-to-bracket"></i></li></a>
            <li>
                <a href="#">Mis Compras
                    <i class="fa-solid fa-basket-shopping"></i></a>
            </li>
        </ul>
    </nav>
</header>