@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: transparent;
}

.main-header {
  background-color: #eac926;
  padding: 20px;
  max-width: 100%;
}

.logo {
  width: 200px;
}

.compracuotas {
  font-weight: 400;
  text-align: center;
}

.burger-menu {
  background-color: #030f7c;
  color: #ffffff;
  display: block;
  text-align: center;
  max-width: 50px;
  padding: 10px 0;
  border-radius: 8px;
  font-size: 18px;
  margin: auto;
}

.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

h1 {
  background-color: rgba(250, 235, 215, 0.2);
}

#user {
  text-align: -webkit-match-parent;
  padding: 20px, 20px;
}

#img-home-banner {
  background-color: #d3d3d39d;
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#img-home-banner img {
  max-width: 100%;
  height: auto;
}

.container-footer {
  background-color: #fafafa;
}

i {
  margin: 5px;
}

ul {
  padding-left: 1px;
}



#search-input {
  width: 70vw;
  height: 32px;
  padding: 0;
  border: none;
}

button[type="submit"] {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.copy-header {
  font-weight: 400;
  text-align: center;
}



.precios,
.descuentos {

  margin-top: 5px;
}

.logoliebre {
  width: 200px;
}

.iconos {
  color: #1259c3;
  text-align: center;
  font-size: 2em;
  margin-top: 5px;
}

footer {
  text-align: center;
}

p.piepagina {
  margin-top: 0.01px;
  margin-bottom: 30px;
}

h4.subtituloh4 {
  margin-bottom: 0.01px;
  margin-top: 5px;
}

.envio {
  display: flex;
  text-align: left;
  border-top: solid #ebebeb 1px;
}

.carro {
  display: inline-block;
  color: #0f9c16de;
  border: solid rgba(15, 156, 22, 0.87) 1px;
  border-radius: 40px;
  margin-bottom: 0px;
  margin-left: 230px;

}

#subtitle1 {
  padding-bottom: 20px;
}

#subtitle1,
#subtitle {
  text-align: left;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}

.main-navbar {
  display: none;
}

.main-products {
  text-align: center;
  background-color: #d3d3d39d;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.recuadro {

  padding: 10px;
  width: 70vw;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  transition: box-shadow 0.3s ease-in-out;
}

.recuadro:hover {
  box-shadow: 0px 0px 20px rgb(100, 100, 100);
}

.container-footer ul {
  list-style: none;
}

.search {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.search input[type=search] {
  width: 200px;
  padding: 8px 28px 8px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  border: none;
  background-color: transparent;
}

.search button[type=submit] i {
  display: block;
  width: 20px;
  height: 20px;
  margin: 8px;
  color: #888;
}

#search-input {
  width: 80vw;
}

.recuadro h3 {
  position: absolute;
  display: none;
  transition: all 3s ease-in-out;
  color: #25bd17;
  text-shadow: 2px 2px 2px #030f7c;
}

.main-register {
  width: 100%;
  padding-top: 20px;
  display: flex;
  background-color: #d3d3d39d;

}

/* Estilos del formulario */
form {
  max-width: 500px;
  margin: 0 auto;
}

/* Estilos de los campos de entrada */
.main-register input[type="text"],
.main-register input[type="password"],
select {
  display: block;
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilos para la etiqueta del campo */
.main-register label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilos para el botón de enviar */
.main-register button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

/* Estilos para el botón de borrar */
button[type="reset"] {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.form-buttons {
  max-width: 70%;
  display: flex;
  justify-content: space-around;
}



/* ----------------------MEDIA QUERIS 360px---------------------------------- */
@media (min-width: 360px) {
  .main-products {
    text-align: center;
  }

  .recuadro:hover h3 {
    display: block;
  }

  .precios {
    font-size: 16px;
    flex-grow: 0.3;
  }
  .descuentos {
    font-size: 16px;
    color: #0f9c16de;
    flex-grow: 0.7;
  }
  .items1 {
    display: flex;
    justify-content: end;
    border-top: #ebebeb 1px solid;
  }
  .items2 {
    display: flex;
    justify-content: start;
  }
  .recuadro img {
    width: 100%;
  }

  .recuadro i {
    color: #25bd17;
    border: solid 1px #25bd17;
    border-radius: 30px;
    font-size: small;
    width: 30px;
    padding: 7px;
    order: 0;
    text-align: end;
    position: relative;
    top: -20px;

  }

  i.fa-solid.fa-truck {
    transition: transform 0.3s ease-in;

  }

  i.fa-solid.fa-truck:hover {
    transform: rotate(-90deg);

  }

  .products {
    display: flex;
  }

  .recuadro {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 10px;
    max-width: 70%;
  }
   
  #usuario-login, #password-login{
    width: 100%;
    margin: 20px auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
   
  .main-products-login form {
    max-width: 200px;
    margin: 0 auto;
  }
  .main-products-login{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #d3d3d39d;
  }
   
   
  .main-products-login button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .main-products-login button[type="submit"]:hover {
    background-color: #0022AA;
  }


}

/* ----------------------MEDIA QUERIS 768px---------------------------------- */
@media (min-width: 768px) {
  .products {
    flex-wrap: wrap;
  }
  .recuadro {
    padding: 10px;
    margin: 10px;
    max-width: 40vw
  }

  .main-header-top-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .burger-menu {
    display: none;
  }

  .main-navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .right-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
  }

  .right-navbar a,
  .left-navbar a {
    margin: 0 3px;
    font-size: 14px;
  }

  .left-navbar {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .copy-header {
    font-size: medium;
    text-align: center;
  }

  #search-input {
    width: 40vw;
  }

  .search button[type=submit] i {

    width: 30px;
    height: 35px;
    margin: 0px;
  }
  #usuario-login, #password-login{
    max-width: 50vw;
  }
   
  .main-products-login form {
    max-width: 50vw;
  }
  
  .main-products-login button[type="submit"] {
    width: 50vw;
  }
}

/* ----------------------MEDIA QUERIS 1200px---------------------------------- */
@media (min-width: 1200px) {

  .main-header-top-bar,
  .main-navbar {
    max-width: 1200px;
    margin: auto;
  }

  .right-navbar a,
  .left-navbar a {
    margin: 10px 10px 0px 10px;
    font-size: 22px;
  }

  .copy-header {
    position: relative;
    top: 20px;
    font-size: 20px;
  }

  .search {
    height: 3vw;
    top: 10px;
  }

  .recuadro {

    width: 20vw;
  }

  .container-footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .container-footer-list {
    margin: 10px;
    max-width: 30%;
    font-size: 12px;
  }

  .container-footer-list h4 {
    font-size: 14px;
  }

  .container-footer-list p {
    color: #585252;
  }

  .copyright {
    text-align: left;
  }

  .search button[type=submit] i {

    width: 30px;
    height: 20px;
    margin: 0px;
  }

  .main-products-login form {
    max-width: 25vw;
  }
  
 

  #usuario-login, #password-login{
    padding: 10px;
      max-width: 25vw;
    
  }
   
  .main-products-login button[type="submit"] {
    width: 25vw;
  }

}