<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')  %>
<body>
  <%- include('../partials/header')  %>
  <main class="main-products-login">
    <form action="/" method="get" class="">
      <input type="text" id="usuario-login" name="usuario" placeholder="Nombre de usuario" minlength="8" maxlength="32"
        required>
      <input type="password" id="password-login" name="password" placeholder="Ingresar contraseña" minlength="8"
        maxlength="32" required>

      <div class="form-button-login">
        <button type="submit">Enviar</button>
      </div>
    </form>
  </main>
  <!-- ----------------------FOOTER------------------------------- -->
  <%- include('../partials/footer')  %>
</body>

</html>