<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')  %>
<body>  
    <%- include('../partials/header')  %>
    <main class="main-register">
        <form action="/" method="get">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" minlength="8" maxlength="32" required>

            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" minlength="8" maxlength="32" required>

            <label for="usuario">Nombre de usuario:</label>
            <input type="text" id="usuario" name="usuario" minlength="8" maxlength="32" required>

            <label for="fecha-nacimiento">Fecha de nacimiento:</label>
            <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" required>

            <label for="domicilio">Domicilio:</label>
            <input type="text" id="domicilio" name="domicilio" minlength="8" maxlength="32" required>

            <label for="perfil-usuario">Perfil del usuario:</label>
            <select id="perfil-usuario" name="perfil-usuario" required>
                <option value="">Seleccione una opción</option>
                <option value="comprador">Comprador</option>
                <option value="vendedor">Vendedor</option>
            </select>

            <label>Categorías de interés:</label>
            <div>
                <input type="checkbox" id="categoria-electro" name="categorias[]" value="electro">
                <label for="categoria-electro">Electro</label>

                <input type="checkbox" id="categoria-moda" name="categorias[]" value="moda">
                <label for="categoria-moda">Moda</label>

                <input type="checkbox" id="categoria-hogar" name="categorias[]" value="hogar">
                <label for="categoria-hogar">Hogar</label>

                <input type="checkbox" id="categoria-jugueteria" name="categorias[]" value="jugueteria">
                <label for="categoria-jugueteria">Juguetería</label>

                <input type="checkbox" id="categoria-vida-sana" name="categorias[]" value="vida-sana">
                <label for="categoria-vida-sana">Vida Sana</label>
            </div>

            <label for="foto-usuario">Foto de usuario:</label>
            <input type="file" id="foto-usuario" name="foto-usuario" accept="image/*" required>

            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" minlength="8" maxlength="32" required>

            <label for="confirmar-contrasena">Confirmar contraseña:</label>
            <input type="password" id="confirmar-contrasena" name="confirmar-contrasena" minlength="8" maxlength="32"
                required>

            <div class="form-buttons">
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </div>
        </form>

    </main>

    <!-- ----------------------FOOTER------------------------------- -->
    <%- include('../partials/footer')  %>
</body>

</html>